<div class="container-fluid rooms-list">
  <div class="row">
    <div class="col-lg-9 p-0">
      <!-- Page content -->
      <div class="container-fluid mt-5">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Available rooms</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">Room name</th>
                    <th scope="col">Players</th>
                    <th scope="col">Drawing</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let room of rooms | async">
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{room.name}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      <span>{{room.players}}</span>
                    </td>
                    <td>
                      <span>{{room.drawing}}</span>
                    </td>
                    <td class="text-right">
                      <button (click)="joinRoom(room)" class="btn btn-light">
                        <i class="ni ni-fat-add"></i>
                        <span> Join</span>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      {-->
      <!--      "name": "#1 Room",-->
      <!--      "players": 0,-->
      <!--      "drawing": "No one!"-->
      <!--      }-->
    </div>

    <div class="col-lg-3 p-0">
      <app-chat></app-chat>
    </div>
  </div>
</div>
